body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
  color: rgb(83, 75, 75);
}


h1 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(88, 69, 65);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 24px;
}